.about-info, .contact-info {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 32px;
    height: 100%;
    flex: 1;
}

.about, .about-info {
    padding-bottom: 40px;
}

.about img {
    width: 60%;
    text-align: center;
}

@media (max-width: 400px) {
    .about-info, .contact-info {
        font-size: 28px;
    }
}

@media (max-width: 800px) {
    .about img {
        width: 80%;
    }
}
