:root {
    --highlight: rgba(141, 198, 255, 0.8);
    --black: #232b2b;
}

body {
    background-color: var(--black);
    color: white;
}

.header, .menu-bar {
    background-color: var(--black);
}

.header ul li.active, .menu-bar div.active {
    color: var(--highlight);
}


.about, .skills {
    background-color: var(--highlight);
    color: white;
}

.project a:visited {
    color: white;
}

.project a {
    color: white;
}
     