.contact ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-bottom: 40px;
    padding-top: 40px;
    display: flex;
    justify-content: center;
    gap: 20%;
    font-size: 32px;
}

.contact ul li {
    margin: 0;
    padding: 0;
}

.contact img {
    width: 300%;
    height: auto;
}

img {
    transition: transform 0.25s 0s;
}

.contact img:hover {
    transform: scale(1.25);
}

.project img:hover {
    transform: scale(1.05);
}

svg {
    fill: white;
}
