.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 200px;
    padding-right: 200px;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 50;
}

.header img {
    width: 2em;
    height: 2em;
    display: none;
}

@media (max-width: 600px) {
    .header ul {
        display: none;
    }

    .header img {
        display: block;
    }
}
