.projects ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.projects ul li {
    margin: 0;
    padding: 100px 0px;
}

.project {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 20px;
}

.project-title {
    font-weight: bold;
    font-size: 28px;
}

.info {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.subsection {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.subtitle {
    font-weight: bold;
    font-weight: 26px;
}

img {
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: contain;
    box-shadow: 5px 5px black;
    margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: top;
}

@media (max-width: 1200px) {
    .project {
        display: flex;
        flex-direction: column;
    }
}